$primary-font:'Space Grotesk', sans-serif;
$secondry-font: 'Jost', sans-serif;
$theme-page-background-color: radial-gradient(50.24% 52.96% at 50.00% 35.54%, rgba(18, 3, 61, 0.60) 0%, #12033D 100%);
$theme-header-border-color:rgba(255, 255, 255, 0.20);
$theme-sidebar-border-color:rgba(255, 255, 255, 0.20);
$theme-sidebar-text-color:rgba(255, 255, 255, 0.70);
$theme-sidebar-hover-text-color:#1F6EFF;


$theme-header-text-color:#fff;
$theme-header-divider-color:rgba(255, 255, 255, 0.30);