.container {
    max-width: 1274px;
    margin: 0 auto;
}

.container2 {
    max-width: 1238px;
    margin: 0 auto;
}

.container3 {
    max-width: 1280px;
    margin: 0 auto;
}

.container4 {
    max-width: 1275px;
    margin: 0 auto;
}

.container5 {
    max-width: 1201px;
    margin: 0 auto;
}

.container6 {
    max-width: 1282px;
    margin: 0 auto;
}

.container7 {
    max-width: 1386px;
    margin: 0 auto;
}

.container8 {
    max-width: 1020px;
    margin: 0 auto;
}

.container9 {
    max-width: 868px;
    margin: 0 auto;
}

.containermd {
    max-width: 1277px;
    margin: 0 auto;
}
.containermd-2 {
    max-width: 1272px;
    margin: 0 auto;
}

.containermd-3{
    max-width: 1165px;
    margin: 0 auto;
}

.containermd-4{
    max-width: 1044px;
    margin: 0 auto;
}

.containermd-5{
    max-width: 1196px;
    margin: 0 auto;
}

.containermd-6{
    max-width: 718px;
    margin: 0 auto;
}

.containermd-7{
    max-width: 832px;
    margin: 0 auto;
}